In [1]:
import pandas as pd

In [2]:
x=[1,2,3,4]
x1=pd.Series(x)

In [3]:
x1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
pd.Series([])

<ipython-input-4-87f089e32ed9>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([])

Series([], dtype: float64)

In [5]:
pd.Series([],dtype=float)

Series([], dtype: float64)

In [6]:
y=pd.Series(1)
print(y)

0    1
dtype: int64

In [7]:
y=pd.Series(1,index=[4,5,6])

In [8]:
y

4    1
5    1
6    1
dtype: int64

In [9]:
dict_s=pd.Series({"a":2,"b":3})

In [10]:
dict_s

a    2
b    3
dtype: int64

In [11]:
dict_s=pd.Series({"a":2,"b":3},index=[6,7])

In [12]:
dict_s

6   NaN
7   NaN
dtype: float64

In [13]:
dict_s=pd.Series({"a":2,"b":3},name="random")

In [14]:
dict_s

a    2
b    3
Name: random, dtype: int64

In [15]:
x=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"],name="random",dtype=float)

In [16]:
x

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: random, dtype: float64

In [17]:
x["a"]

1.0

In [18]:
x["a":"c"]

a    1.0
b    2.0
c    3.0
Name: random, dtype: float64

In [19]:
x.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [20]:
x.name

'random'

In [21]:
y=pd.Series({"a":3,"b":4,"f":5},name="random2")

In [22]:
y

a    3
b    4
f    5
Name: random2, dtype: int64

In [23]:
y.index

Index(['a', 'b', 'f'], dtype='object')

In [24]:
x+y

a    4.0
b    6.0
c    NaN
d    NaN
e    NaN
f    NaN
dtype: float64

In [25]:
y

a    3
b    4
f    5
Name: random2, dtype: int64

In [26]:
y.drop("f")

a    3
b    4
Name: random2, dtype: int64

In [27]:
y

a    3
b    4
f    5
Name: random2, dtype: int64

In [28]:
y=y.drop("f")

In [29]:
y

a    3
b    4
Name: random2, dtype: int64

In [30]:
y.drop("b",inplace=True)

In [31]:
y

a    3
Name: random2, dtype: int64

In [32]:
min(x)

1.0

In [33]:
max(x)

5.0

In [34]:
people={"first":["Rajat","corey","John"],
        "last":["Gupta","sch","doe"],
        "email":["RajatGupta@email.com","corey@email.com","john@email.com"]}

In [35]:
z=pd.DataFrame(people)

In [36]:
p=pd.Series(z["first"],index=[8,9,10])

In [37]:
p

8     NaN
9     NaN
10    NaN
Name: first, dtype: object

In [38]:
p=pd.Series(z["first"])

In [39]:
p

0    Rajat
1    corey
2     John
Name: first, dtype: object

In [40]:
z['first']

0    Rajat
1    corey
2     John
Name: first, dtype: object

In [41]:
x.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [42]:
x.index=[8,9,0,6,7]

In [43]:
x

8    1.0
9    2.0
0    3.0
6    4.0
7    5.0
Name: random, dtype: float64

In [44]:
#DataFrame

In [46]:
x=pd.DataFrame()

In [47]:
x

Empty DataFrame
Columns: []
Index: []

In [48]:
x.columns

Index([], dtype='object')

In [49]:
x=[1,2,3,4,5,6]

In [52]:
df=pd.DataFrame(x)

In [53]:
df

   0
0  1
1  2
2  3
3  4
4  5
5  6